{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{mov.img.url}}" width="500" height="250">
        </div>
        <div class="col-md-6">
            <h2>{{mov.name}}</h2>
            <h4>{{mov.desc}}</h4>
            <h4>{{mov.year}}</h4>
            <a class="btn btn-warning" href="{% url 'movieapp:update' mov.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' mov.id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}