{% extends 'base_index.html' %}
{% block body %}


<div class="container">
    <div class="row">
        {% for i in movie_list %}

        <div class="col-md-4 mt-5">
            <a href="{% url 'movieapp:detail' i.id %}" >
                <div class="col-mb-4"  style="height:300px">

                    <div class="card h-100">
                        <img src="{{i.img.url}}" class="card-img-top" alt="..." width="200" height="150">
                    <div class="card-body">
                             <h5 class="card-title">{{i.name}}({{i.year}})</h5>
                        </a>
                        <p class="card-text">{{i.desc}}</p>
                    </div>
        </div>
        </div>



      </div>

        {% endfor %}
    </div>
</div>




{% endblock %}